<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <form id="test" method="post" action ="{{ url_for('routes.Zonal_All') }}" enctype = "multipart/form-data">
        {{ form.csrf_token() }}
        <p>{{ form.Product.label }} {{ form.Product }}
            {% if form.Product.errors %}
                {% for error in form.Product.errors %}
                    {{ error }}
                {% endfor %}
            {% endif %}
        </p>
    
        <p>{{ form.submit() }}</p>
    </form>
</head>
<body>
    
</body>
</html>